* {
    margin: auto;
}

#mainCalculator {
    width: 260px;
    height: 465px;
    background-color: #000000;
    border-radius: 10px;
    font-size: xxx-large;

}

#mainLine {
    height: 130px;
    color: #fefefe;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

#allButtons {
    display: flex;
}

#allButtons div > button {
    font-size: large;
}

#mainFunctions {
    display: flex;

}
#mainFunctions > button {
    background-color: #b5b5b5;
}

#firstColumn {
    width: 190px;

}

#secondColumn {
    display: flex;
    flex-direction: column;
}

#secondColumn > button {
    background-color: #fe9d12;
}

#num {
    display: flex;
    flex-wrap: wrap;
}

#num > button {
    background-color: #414141;
}

#zero {
    width: 100px;
}

button {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}